<ion-split-pane contentId="content">
  <ion-menu contentId="content">
    <ion-content>
      <img style="margin-left: 30%;" width="120px" height="120px" [src]="user.avatar" />
      <ion-item >
        <ion-label style="text-align: center">{{ user.names }}</ion-label>
      </ion-item>

      <ion-list>
        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of appPages; let i = index"
        >
          <ion-item
            (click)="selectedIndex = i"
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            [class.selected]="selectedIndex == i"
          >
            <ion-icon
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" (click)="logout()" lines="none">
            <ion-icon
              slot="start"
              ios="log-out-outline"
              md="log-out-sharp"
            ></ion-icon>
            <ion-label> Salir </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
