<ion-split-pane contentId="content">
  <ion-menu contentId="content" >
    <ion-content>
      <ion-list>
        <ion-item style="margin-bottom: 5%">
          <ion-avatar slot="start">
            <img src="../../../assets/default_user_icon.png" />
          </ion-avatar>
          <ion-label>{{ names }}</ion-label>
        </ion-item>
        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of appPages; let i = index"
        >


          <ion-item
            (click)="selectedIndex = i"
            routerDirection="root"
            [routerLink]="[p.url]"
            lines="none"
            [class.selected]="selectedIndex == i"
          >
            <ion-icon
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"
            ></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
