<ion-header>
  <ion-toolbar>
    <ion-title> {{ subject.name }} </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createChallenge()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-spinner *ngIf="gettingData"></app-spinner>

  <ion-list *ngIf="!gettingData" inset="true">
    <span *ngFor="let challenge of challenges">
      <ion-item class="challenge" lines="none">
        <ion-label>
          <h2>{{ challenge.tema }}</h2>
          <h3>
            {{ challenge.puntos }} puntos - {{ challenge.tiempoSegundos }}
            segundos
          </h3>
          <p>{{ challenge.descripcion }}</p>
        </ion-label>
      </ion-item>
    </span>
  </ion-list>
</ion-content>
