ion-slides {
  height: 100%;
  ion-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-item {
      text-align: center;
      ion-label {
        font-size: 30px;
        font-family: sans-serif;
      }
    }
    .slide_img {
      margin: 0 auto;
      width: 50%;
    }
  }
}
