<ion-header>
  <ion-toolbar>
    <ion-title> subject.name </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-spinner *ngIf="gettingData"></app-spinner>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="confirmSend()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-list-header>Characters</ion-list-header>
    <ion-item>
      <ion-label><strong>Seleccionar todos</strong></ion-label>
      <ion-checkbox mode="ios" slot="start" (click)="checkAll($event)" ></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let student of students">
      <ion-label>
        <p>
          {{ student.Nombres }} {{ student.SegundoNombre }} {{
          student.ApellidoPaterno }} {{ student.ApellidoMaterno }}
        </p>
        <p>{{ student.Cedula }}</p>
      </ion-label>
      <ion-checkbox
        mode="ios"
        color="primary"
        (click)="student.checked = false"
        *ngIf="student.checked"
        checked
        slot="start"
      ></ion-checkbox>
      <ion-checkbox
        mode="ios"
        color="primary"
        (click)="student.checked = true"
        *ngIf="!student.checked"
        slot="start"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
