<app-header></app-header>

<ion-toolbar>
  <ion-segment scrollable value="1">
    <ion-segment-button
      [value]="gameType.idTipoJuego"
      *ngFor="let gameType of gameTypes"
    >
      <ion-label> {{ gameType.descripcion }} </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createChallenge()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
