<app-header></app-header>

<ion-toolbar>
  <ion-segment scrollable value="1" (ionChange)="tabChange($event)">
    <ion-segment-button
      [value]="gameType.idTipoJuego"
      *ngFor="let gameType of gameTypes"
    >
      <ion-label> {{ gameType.descripcion }} </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <span class="spinner" *ngIf="gettingData">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </span>
  <ion-list inset="true" *ngIf="!gettingData">
    <span *ngFor="let subject of subjects">
      <ion-item (click)="openSubjectActivitiesModal(subject)" lines="none">
        <ion-label> {{ subject.name }} </ion-label>
      </ion-item>
    </span>
  </ion-list>
</ion-content>
