<ion-content>
  <div class="profile-widget">
    <img src="../../../assets/profile-banner.jpg" alt="">
    <ion-avatar  class="profile-avatar">
      <img
        [src]="imageSelected || '../../assets/default_user_icon.png'"
        (click)="editAvatar()"
      />
      <input
        style="display: none"
        type="file"
        (change)="uploadPhoto($event)"
        #imageInput
      />
    </ion-avatar>
    <div class="profile-info">
      <h2>Luis Carlos Coaboy</h2>
      <p>CharlsSma</p>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Datos del usuario</ion-card-subtitle>
            <ion-card-title>Acerca de</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="info">
              <h2>Cédula</h2>
              <ion-label>1315700631</ion-label>
              <h2>Celular</h2>
              <ion-label>0982284179</ion-label>
              <h2>Correo</h2>
              <ion-label>luis.coaboy@espam.edu.ec</ion-label>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
