* {
  font-family: sans-serif;
}

.card_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ion-item {
    padding: 1.5rem 0;

  }
  img {
    width: 40%;
    margin-top: 20px;
  }
}

h2 {
  text-align: center;
  font-weight: bold;
}