<app-header></app-header>

<ion-content>
    <!-- <ion-card> -->
    <img class="center-banner"
        src="https://static.vecteezy.com/system/resources/previews/001/226/005/non_2x/modern-flowing-blue-wave-banner-on-white-vector.jpg">
    <ion-avatar class="center">
        <img class=""
            src="https://www.creartuavatar.com/images/m7.svg">
    </ion-avatar>

    <ion-card-content class="ion-text-center">
        <ion-card-title>
            Luis Carlos Coaboy
        </ion-card-title>
        <p>CharlsSma</p>
    </ion-card-content>

    <!-- Prueba de informacion de usuario-->
    <ion-list>
        <ion-list-header>
            Datos del usuario
        </ion-list-header>
        <br>
        <ion-item-group>

            <ion-item-divider>
                <ion-label>Cédula</ion-label>
            </ion-item-divider>

            <ion-item lines="none">
                <ion-label>1315700631</ion-label>
            </ion-item>

            <ion-item-divider>
                <ion-label>Celular</ion-label>
            </ion-item-divider>

            <ion-item lines="none">
                <ion-label>0982284179</ion-label>
            </ion-item>

            <ion-item-divider>
                <ion-label>Correo</ion-label>
            </ion-item-divider>

            <ion-item lines="none">
                <ion-label>luis.coaboy@espam.edu.ec</ion-label>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <!-- Fin de prueba -->

    <!-- </ion-card> -->
</ion-content>