<ion-content class="background">
  <div class="profile-widget">
    <!-- <img src="../../../assets/profile-banner.jpg" alt=""> -->
    <ion-avatar  class="profile-avatar">
      <img
        [src]="user.avatar"
        (click)="editAvatar()"
      />
    </ion-avatar>
    <br>
    <br>
    <ion-chip mode="ios">
      <ion-label>{{ user.name }}</ion-label>
    </ion-chip>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4">
        <ion-card class="colorCard">
          <ion-card-header>
            <ion-card-title>Datos del usuario</ion-card-title>
          </ion-card-header>
          <ion-card-content mode="ios">
            <div class="info">
              <h2>Cédula</h2>
              <ion-label class="estilo"> {{ user.document }} </ion-label>
              <h2>Celular</h2>
              <ion-label class="estilo"> {{ user.phone }} </ion-label>
              <h2>Correo</h2>
              <ion-label class="estilo"> {{ user.mail }} </ion-label>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>