<!-- <ion-list>
  <ion-item >
    <ion-avatar>
    </ion-avatar>
  </ion-item>
</ion-list> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let avatar of avatar_list">
        <ion-card
          (click)="changeAvatar(avatar.name)"
          class="avatar"
          *ngIf="avatar.name == userAvatar; else noCoincidence"
        >
          <ion-card-content>
            <img [src]="avatar.url" width="100%" height="100%" />
          </ion-card-content>
        </ion-card>
        <ng-template #noCoincidence>
          <ion-card (click)="changeAvatar(avatar.name)">
            <ion-card-content>
              <img [src]="avatar.url" width="100%" height="100%" />
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
