<ion-content class="background">
  <ion-grid class="responsive" fixed>
    <ion-row>
      <ion-col size="4" size-md="4" offset-md="4" offset="4" size-lg="4" offset-lg="4" size-sm="4" offset-sm="4">
        <ion-img src="assets/login/logo.png"></ion-img>
    </ion-col>
    <br>
      <ion-col size="12">
        <div text-center padding>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-input
                formControlName="username"
                autofocus="true"
                placeholder="Usuario"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="password"
                [type]="passwordInputType"
                placeholder="Contraseña"
              ></ion-input>
              <ion-icon
                (click)="passwordInputType == 'password' ? passwordInputType = 'text' : passwordInputType = 'password'"
                slot="end"
                name="eye"
              ></ion-icon>
            </ion-item>
            <ion-button type="submit" mode="ios" expand="block"
              >Empezar</ion-button
            >
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
