<ion-content class="background">
  <ion-grid>    
    <ion-row class="container">
      <ion-col size="4" offset="4">
        <ion-img src="assets/login/logo.png"></ion-img>
      </ion-col>
      <ion-col size-lg="4" offset-lg="4" size-xs="12">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-input
              formControlName="username"
              autofocus="true"
              placeholder="Usuario"
            ></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input
              formControlName="password"
              [type]="passwordInputType"
              placeholder="Contraseña"
            ></ion-input>
            <ion-icon
              (click)="passwordInputType == 'password' ? passwordInputType = 'text' : passwordInputType = 'password'"
              slot="end"
              name="eye"
            ></ion-icon>
          </ion-item>
          <ion-button type="submit" mode="ios" expand="block"
            >Empezar</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
