<ion-header>
  <ion-toolbar>
    <ion-title> {{ topic }} </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset="true" *ngIf="comments.length > 0">
    <span *ngFor="let comment of comments">
      <ion-item class="comment" lines="none">
        <ion-avatar slot="start">
          <img src="../../../assets/default_user_icon.png" />
        </ion-avatar>
        <ion-label>
          <h3>{{ comment.nombres }}</h3>
          <p>{{ comment.descripcion }}</p>
        </ion-label>
      </ion-item>
    </span>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input
      autofocus="true"
      placeholder="Di algo!"
      [(ngModel)]="comment"
    ></ion-input>
    <ion-icon
      class="send-comment"
      (click)="sendComment(comment.value)"
      name="send-outline"
    ></ion-icon>
  </ion-item>
</ion-footer>
