.send-comment {
    color: var(--ion-color-primary)
}

.comment {
    margin: 10px 0;
    border-left: 2px solid var(--ion-color-success);
    padding-left: 5px;
}

ion-list {
    margin: 0;
    padding: 0;
	background-color: rgba(0, 0, 0, 0);
}