<app-header></app-header>

<ion-content class="background">
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Grafico de Barras</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <div class="chart-container" >
            <canvas id="investments-chart" ></canvas>
          </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Grafico de Linea</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="chart-container" >
            <canvas id="investments-chart-line" ></canvas>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Grafico de Radar</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="chart-container" >
            <canvas id="investments-chart-radar" ></canvas>
            </div>
        </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Grafico de Pastel</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="chart-container" >
            <canvas id="investments-chart-pie2" ></canvas>
            </div>
        </ion-card-content>
    </ion-card>
      
</ion-content>



