<ion-header>
  <ion-toolbar>
    <ion-title> {{ challenge.tema }} </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateChallengeQuestionModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-spinner *ngIf="gettingData"></app-spinner>

  <ion-list *ngIf="!gettingData" inset="true">
    <ion-item-sliding
      style="margin-bottom: 5px"
      *ngFor="let question of questions"
    >
      <ion-item
        style="border-left: 3px solid var(--ion-color-primary)"
        (click)="toggleGroup(question)"
        [ngClass]="{active: isGroupShown(question)}"
      >
        <ion-icon
          slot="end"
          [name]="isGroupShown(question) ? 'chevron-forward-outline' : 'chevron-down-outline'"
        ></ion-icon>
        &nbsp; {{question.descripcion}}
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="deleteQuestionAnswer(question.id)" color="danger"> Eliminar </ion-item-option>
      </ion-item-options>
      <ion-item-options>
        <ion-item-option (click)="editChallengeQuestion(question)" color="warning"> Editar </ion-item-option>
      </ion-item-options>
      <ion-radio-group
        #ionRadioGroup
        [value]="question.correctAnswer"
        mode="ios"
      >
        <span *ngFor="let answer of question.Respuestas; index as i">
          <ion-item
            lines="none"
            class="answer"
            [hidden]="isGroupShown(question)"
            [style]="answer.styles"
          >
            <ion-label> {{answer.descripcion}}</ion-label>
            <ion-radio
              slot="start"
              [value]="convertIndexToString(i)"
              (click)="changeQuestionAnswer(question, answer)"
            ></ion-radio>
          </ion-item>
        </span>
      </ion-radio-group>
    </ion-item-sliding>
  </ion-list>
</ion-content>
