ion-fab {
  position: absolute;
  top: 83%;
  left: 93%;
}

ion-icon {
  font-size: 30px;
  margin: 3px;
}

.answer {
  padding-left: 15px;
  margin: 5px 0;
}

@media screen and (max-width: 990px) {
  ion-fab {
    position: absolute;
    top: 83%;
    left: 75%;
  }
  
  ion-icon {
    font-size: 30px;
    margin: 3px;
  }
}

.test_1 {
  background-color: #000

}


.test_2 {
  

}

